@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */

* {
  min-width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  min-height: 100dvh;
}

::selection {
  @apply bg-orange-100 dark:bg-orange-900;
}

.shiki {
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);
}

.shiki span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  .shiki {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);
    @apply border-neutral-700;
  }

  .shiki span {
    color: var(--shiki-dark);
  }
}

.shiki code {
  display: grid;
  font-size: 13px;
  counter-reset: line;
}

.shiki .line:before {
  content: counter(line);
  counter-increment: line;

  @apply mr-8 inline-block w-4 text-right text-neutral-500 dark:text-neutral-400;
}

.shiki[title]:before {
  content: attr(title);
  @apply mb-6 inline-block text-right text-sm text-neutral-500 dark:text-neutral-400;
}
